@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0px;
}
input[type=number] {
  -mox-appearance: textfield;
}
body {
  color: rgb(var(--foreground-rgb));
  height: 100vh;
  overflow: hidden;
}

.spiral {
  -webkit-text-stroke: 1px #ff00ff;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.cursor::after {
  content: "";
  position: absolute;
  width: 5rem;
  height: 5rem;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 50%;
  transform: scale(1.2);
}